name: Release to OpenVSX

on:
  push:
    branches:
      - main
      - master

jobs:
  publish:
    if: contains(github.event.head_commit.message, 'sync with upstream') || contains(github.event.head_commit.message, 'release')
    runs-on: ubuntu-latest
    env:
      EXTENSION_PATH: ${{ vars.EXTENSION_PATH }}
      PUBLISHER_NAME: ${{ vars.PUBLISHER_NAME }}
      OPEN_VSX_TOKEN: ${{ secrets.OPEN_VSX_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: ^9.6.0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Everything
        run: pnpm -r run build

      - name: Patch to TimsExperiments
        run: |
          cd ${{ env.EXTENSION_PATH }}
          
          jq '.publisher = "${{ env.PUBLISHER_NAME }}"' package.json > package.json.tmp && mv package.json.tmp package.json
          
          echo "Publisher verified as:"
          grep '"publisher":' package.json

      - name: Build & Publish
        env:
          OVSX_PAT: ${{ env.OPEN_VSX_TOKEN }}
        run: |
          cd ${{ env.EXTENSION_PATH }}
          
          pnpm dlx vsce package
          
          pnpm dlx ovsx publish -p $OVSX_PAT || echo "Publish failed or version already exists."